extends layout

block content
  .container
    .row
      .jumbotron.hidden-xs
        h1 Hello World!
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading Recent Questions
          table.table
            each q in questions
              tr
                td= q.id
                td
                  a(href='/admin/questions/'+q.id)= q.text
      .col-md-6
        .panel.panel-default
          .panel-heading Recent Guests
          table.table
            each g in guests
              tr
                td= g.id
                td
                  a(href='/admin/guests/'+g.id)= g.id