extends layout

block content
  .container
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading Recent Questions
          table.table
            each q in questions
              tr
                td= q.id
                td
                  a(href='/admin/questions/'+q.id)= q.text
          .panel-footer
            a.btn.btn-primary(href='/admin/questions') See All
      .col-md-6
        .panel.panel-default
          .panel-heading Recent Guests
          table.table
            each g in guests
              tr
                td= g.id
                td
                  a(href='/admin/guests/'+g.id)= g.uuid
          .panel-footer
            a.btn.btn-primary(href='/admin/guests') See All