extends layout

block content
  .container
    .row
      .col-md-8
        h2 Manage Questions
      .col-md-4
        a.btn.btn-primary.btn-block(href='#', data-toggle='modal', data-target='#createModal')
          i.glyphicon.glyphicon-plus
          span  Add a Question
    .row
      table.table.table-striped
        each q in questions
          tr
            td
              a(href='/admin/questions/'+q.id)= q.text
            td.col-md-2
              a.btn.btn-primary.btn-block(href='/admin/questions/'+q.id+'/results')
                i.glyphicon.glyphicon-eye-open
                span  View Results
              a.btn.btn-success.btn-block(href='/admin/questions/'+q.id)
                i.glyphicon.glyphicon-pencil
                span  Edit
              a.btn.btn-danger.btn-block(href='/admin/questions/'+q.id+'/delete')
                i.glyphicon.glyphicon-trash
                span  Delete
    +pagination(pagination.current, pagination.numPages)

  .modal.fade(id='createModal', tabindex='-1', role='dialog', aria-labelledby='createModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title(id='createModalLabel') Add a Question
        form(method='post', action='/admin/questions/add')
          .modal-body
            .form-group
              input.form-control(type='text', name='question_text', id='question_text', placeholder='Enter a question')
          .modal-footer
            button.btn.btn-link(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save