extends layout

block content
  .row
    .col-md-12
      h2 Edit Question #{question.id}
  .row
    .col-md-6
      form(method='post', action='/admin/questions/'+question.id, data-toggle='validator')
        .form-group
          textarea.input-lg(name='question_text', id='question_text', class='form-control', rows='3', required)= question.text
          .help-block.with-errors
        button.btn.btn-primary.btn-block Save
        a.btn.btn-link.btn-block(href='/admin/questions') Cancel
    .col-md-6
      ul.list-group
        each r in question.Responses
          li.list-group-item
            form(method='post', action='/admin/questions/' + question.id + '/responses/' + r.id, data-toggle='validator')
              .row
                .col-xs-6
                  input.form-control(type='text', name='response_text', id='response_text_'+r.id, value=r.text, required)
                  .help-block.with-errors
                .col-xs-3
                  button.btn.btn-success.btn-block(type='submit',alt='Save')
                    i.glyphicon.glyphicon-check
                .col-xs-3
                  a.btn.btn-danger.btn-block(href='/admin/questions/' + question.id + '/responses/' + r.id + '/delete')
                    i.glyphicon.glyphicon-trash
      a.btn.btn-success.btn-block(href-'#', data-toggle='modal', data-target='#createModal')
        i.glyphicon.glyphicon-plus
        span  Add a Response
      a.btn.btn-primary.btn-block(href='/admin/questions/' + question.id + '/results')
        i.glyphicon.glyphicon-eye-open
        span  View Results
  hr
  .row
    .col-md-12
      a.btn.btn-danger.btn-block(href='/admin/questions/' + question.id + '/delete')
        i.glyphicon.glyphicon-trash
        span  Delete this Question

  .modal.fade(id='createModal', tabindex='-1', role='dialog', aria-labelledby='createModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title(id='createModalLabel') Add a Response
        form(method='post', action='/admin/questions/'+question.id+'/responses/add', data-toggle='validator')
          .modal-body
            .form-group
              input.form-control(type='text', name='response_text', id='response_text', placeholder='Enter a response', required)
              .help-block.with-errors
          .modal-footer
            button.btn.btn-link(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save